@import "tailwindcss";
@import "./content-styles.css";

@plugin "@tailwindcss/forms" {
  strategy: "base";
  strategy: "class";
}

@font-face {
  font-family: "Bank-Gothic-Regular";
  src: url("assets/fonts/bank-gothic/bank_gothic_medium_bt-webfont.woff2") format("woff2"), url("assets/fonts/bank-gothic/bank_gothic_medium_bt--webfont.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Bank-Gothic-Bold";
  src: url("assets/fonts/bank-gothic/bank_gothic_bold-webfont.woff2") format("woff2"),url("assets/fonts/bank-gothic/bank_gothic_bold-webfont.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Blinker-Regular";
  src: url("assets/fonts/blinker/blinker-regular-webfont.woff2") format("woff2"),url("assets/fonts/blinker/blinker-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Blinker-SemiBold";
  src: url("assets/fonts/blinker/blinker-semibold-webfont.woff2") format("woff2"),url("assets/fonts/blinker/blinker-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}

@theme {
  --color-eminence: oklch(0.4413 0.1321 307.85);
  --color-old-gold: oklch(0.8061 0.1596 103);
  --font-blinker: "Blinker-Regular", "sans-serif";
  --font-blinker-semibold: "Blinker-SemiBold", "sans-serif";
  --font-bank-gothic: "Bank-Gothic-Regular", "sans-serif";
  --font-bank-gothic-bold: "Bank-Gothic-Bold", "sans-serif";
  --text-h1: 2.986rem;
  --text-h2: 2.488rem;
  --text-h3: 2.074rem;
  --text-h4: 1.728rem;
  --breakpoint-nav: 48rem;
  --breakpoint-md: 53.75rem;
  --breakpoint-xl2xl: 88.125rem;
  --breakpoint-3xl: 114.75rem;
  --container-content-max: 74.375rem;
}

/* -------------- Custom CSS --------------- */
@media (width >= 48rem) and (width < 53.75rem) {
  #navbar-default {
    padding-block: 1rem;
  }
}

html {
  background-color: #000;
  background-image: url(assets/img/black-sand.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

body.home footer {
  position: static;
}

body.blog,
body.page:not(.front-page),
body.error404 {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

body.blog main,
body.page:not(.front-page) main,
body.error404 main {
  flex: 1;
}

body.blog footer,
body.page:not(.front-page) footer,
body.error404 footer {
  position: static;
}

.wp-image-1017 {
  @apply bg-gray-400/50 rounded-lg;
}

.fp-content {
  anchor-name: --fp-content;
}

.footer {
  position-anchor: --fp-content;
  top: calc( anchor(bottom) + 16px );
}